@use '@/_/colors';
@use '@/_/media-queries' as *;

.button {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  [data-theme='light'] & {
    background-color: colors.$blueGrey-100;
  }

  [data-theme='dark'] & {
    background-color: colors.$blueGrey-800;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  @include lt-md {
    border-radius: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
  }

  @include gt-sm {
    border-radius: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
  }
}
